* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

a {
  color: inherit;
  cursor: url("../../assets/icons/icon.svg"), pointer;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  cursor: url("../../assets/icons/icon2.svg"), pointer;
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: url("../../assets/icons/icon.svg"), pointer;
  background: transparent;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:focus, a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-family: Georgia;
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: Georgia;
  font-style: normal;
  font-weight: 400;
  src: url(../../assets/fonts/georgia_regular.ttf);
}

@font-face {
  font-family: Georgia;
  font-style: bold;
  font-weight: 700;
  src: url(../../assets/fonts/georgia_bold.ttf);
}

@font-face {
  font-family: Arial;
  font-style: normal;
  font-weight: 400;
  src: url(../../assets/fonts/arial_regular.ttf);
}

@font-face {
  font-family: Arial;
  font-style: italic;
  font-weight: 500;
  src: url(../../assets/fonts/arial_italic.ttf);
}

.Typography {
  font-family: Georgia;
  font-style: italic;
  font-weight: 400;
  font-size: 3.2rem;
  line-height: 130%;
  color: rgba(0, 0, 0, 0.5);
}

h2 {
  font-size: 4.4rem;
  line-height: 130%;
  color: #545454;
}

h3 {
  font-size: 3.5rem;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: #545454;
}

h4 {
  font-size: 2rem;
  line-height: 115%;
  letter-spacing: 0.06em;
  color: #545454;
}

h5 {
  font-size: 1.5rem;
  line-height: 110%;
  letter-spacing: 0.06em;
  color: #545454;
}

p {
  font-family: Arial;
  font-style: normal;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 160%;
  color: #4C4C4C;
}

html {
  font-size: 10px;
}

body {
  font-family: Arial;
  font-style: normal;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 160%;
  background-color: #FFFFFF;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100%;
}

.main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

[class*="__container"] {
  max-width: 1280px;
  padding: 0 40px;
  margin: 0 auto;
}

.header {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  width: 100%;
  background-color: #FFFFFF;
  padding: 30px 0;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 auto;
}

.header__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 186px;
          flex: 0 0 186px;
  gap: 10px;
}

.header__logo .title {
  font-family: Georgia;
  font-style: normal;
  font-size: 3.2rem;
  line-height: 110%;
  letter-spacing: 0.06em;
  color: #545454;
}

.header__logo .subtitle {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  font-size: 1.3rem;
  line-height: 15px;
  letter-spacing: 0.1em;
  color: #292929;
}

.menu__icon {
  display: none;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.menu__item {
  margin: 0px 0px 0px 36px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.menu__item .menu__link {
  color: #545454;
  border-bottom: 3px solid transparent;
}

.menu__item .menu__link_active {
  color: #292929;
  border-bottom: 3px solid #F1CDB3;
}

.menu__item .menu__link:hover {
  color: #292929;
}

.section {
  padding: 80px 0 100px 0;
}

.our-friends {
  background: #F6F6F6;
}

.our-friends__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 45px 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.our-friends__text-heading {
  text-align: center;
}

.our-friends__cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 16px 0 14px 0;
  gap: 30px 40px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 30px 0px;
  background: #FAFAFA;
  border-radius: 9px;
  width: 270px;
  height: 435px;
}

.card__subheading {
  line-height: 22px;
}

.button {
  font-family: Georgia;
  font-style: normal;
  font-size: 1.7rem;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: #292929;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 100px;
}

.button:hover {
  background: #FDDCC4;
}

.card__button {
  border: 2px solid #F1CDB3;
  display: inline-block;
  margin-bottom: 30px;
  width: 188px;
  height: 52px;
}

.card:hover {
  background: #FFFFFF;
  -webkit-box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
          box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
  cursor: url("../../assets/icons/icon.svg"), pointer;
}

.card:hover > button {
  background: #FDDCC4;
  border: 2px solid transparent;
}

.pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0 20px;
}

.control {
  width: 52px;
  height: 52px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 2px solid #F1CDB3;
  border-radius: 100px;
  text-align: center;
}

.control:hover {
  background: #FDDCC4;
  border: 2px solid #FDDCC4;
  cursor: url("../../assets/icons/icon.svg"), pointer;
}

.current-page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #F1CDB3;
  border-radius: 100px;
  width: 52px;
  height: 52px;
  color: #292929;
}

.disabled {
  pointer-events: none;
  color: #CDCDCD;
  border: 2px solid #CDCDCD;
}

.footer {
  background: url(../../assets/icons/noise_transparent@2x.png), -webkit-radial-gradient(100% 215.42% at 0% 0%, #5b483a 0%, #262425 100%), #211F20;
  background: url(../../assets/icons/noise_transparent@2x.png), -o-radial-gradient(100% 215.42% at 0% 0%, #5b483a 0%, #262425 100%), #211F20;
  background: url(../../assets/icons/noise_transparent@2x.png), radial-gradient(100% 215.42% at 0% 0%, #5b483a 0%, #262425 100%), #211F20;
}

.footer__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0 160px;
  padding-top: 40px;
}

.footer__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 39px 0;
  padding-top: 16px;
}

.contacts {
  max-width: 279px;
}

.locations {
  max-width: 302px;
  gap: 32px 0;
}

.footer__title {
  color: #FFFFFF;
}

.footer__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__text {
  color: #F1CDB3;
}

@media screen and (max-width: 1279px) {
  [class*="__container"] {
    max-width: 1279px;
    padding: 0 30px;
    margin: 0 auto;
  }
  .card:nth-last-child(-n+2) {
    display: none;
  }
  .our-friends__container {
    gap: 30px 0;
  }
  .our-friends__cards {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (270px)[2];
        grid-template-columns: repeat(2, 270px);
    -ms-grid-rows: (auto)[3];
        grid-template-rows: repeat(3, auto);
    padding: 0;
  }
  .pagination {
    margin-top: 10px;
  }
  .section {
    padding: 80px 0 75px 0;
  }
  .footer__content {
    max-width: 708px;
    margin: 0 auto;
    gap: 65px 59px;
    padding: 16px 34px 0 34px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media screen and (max-width: 767px) {
  [class*="__container"] {
    max-width: 767px;
    padding: 0 10px;
    margin: 0 auto;
  }
  .header {
    z-index: 10;
    padding-right: 43px;
  }
  .header__logo {
    z-index: 5;
  }
  .menu__icon {
    z-index: 5;
    display: block;
    position: relative;
    width: 30px;
    height: 22px;
    cursor: url("../../assets/icons/icon.svg"), pointer;
  }
  .menu__icon span, .menu__icon::before, .menu__icon::after {
    left: 0;
    position: absolute;
    height: 10%;
    width: 100%;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    background-color: #000;
  }
  .menu__icon::before, .menu__icon::after {
    content: "";
  }
  .menu__icon::before {
    top: 0;
  }
  .menu__icon::after {
    bottom: 0;
  }
  .menu__icon span {
    top: 50%;
    -webkit-transform: scale(1) translate(0px, -50%);
        -ms-transform: scale(1) translate(0px, -50%);
            transform: scale(1) translate(0px, -50%);
  }
  .menu__list {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #FFFFFF;
    padding: 148px 38px;
    -webkit-transition: left 0.3s ease 0s;
    -o-transition: left 0.3s ease 0s;
    transition: left 0.3s ease 0s;
    display: none;
  }
  .menu__item {
    margin: 0px;
    margin-bottom: 40px;
  }
  .menu__link {
    font-size: 3.2rem;
    margin: 0 auto;
  }
  .section {
    padding: 42px 0 42px 0;
  }
  h3 {
    font-size: 2.5rem;
    text-align: center;
  }
  .card:nth-last-child(-n+5) {
    display: none;
  }
  .our-friends__cards {
    -ms-grid-columns: (270px)[1];
        grid-template-columns: repeat(1, 270px);
    -ms-grid-rows: (auto)[3];
        grid-template-rows: repeat(3, auto);
    padding-top: 12px;
  }
  .pagination {
    gap: 0 10px;
  }
  .footer__content {
    max-width: 300px;
    margin: 0 auto;
    gap: 40px 59px;
    padding: 30px 0px 0px 0px;
  }
  .footer__info {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-top: 0;
    gap: 40px 0;
  }
  .locations {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    gap: 39px;
  }
  .footer__title {
    max-width: 270px;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  .footer__img {
    width: 260px;
  }
}
