* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

a {
  color: inherit;
  cursor: url("../../assets/icons/icon.svg"), pointer;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  cursor: url("../../assets/icons/icon2.svg"), pointer;
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: url("../../assets/icons/icon.svg"), pointer;
  background: transparent;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:focus, a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-family: Georgia;
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: Georgia;
  font-style: normal;
  font-weight: 400;
  src: url(../../assets/fonts/georgia_regular.ttf);
}

@font-face {
  font-family: Georgia;
  font-style: bold;
  font-weight: 700;
  src: url(../../assets/fonts/georgia_bold.ttf);
}

@font-face {
  font-family: Arial;
  font-style: normal;
  font-weight: 400;
  src: url(../../assets/fonts/arial_regular.ttf);
}

@font-face {
  font-family: Arial;
  font-style: italic;
  font-weight: 500;
  src: url(../../assets/fonts/arial_italic.ttf);
}

.Typography {
  font-family: Georgia;
  font-style: italic;
  font-weight: 400;
  font-size: 3.2rem;
  line-height: 130%;
  color: rgba(0, 0, 0, 0.5);
}

h2 {
  font-size: 4.4rem;
  line-height: 130%;
  color: #545454;
}

h3 {
  font-size: 3.5rem;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: #545454;
}

h4 {
  font-size: 2rem;
  line-height: 115%;
  letter-spacing: 0.06em;
  color: #545454;
}

h5 {
  font-size: 1.5rem;
  line-height: 110%;
  letter-spacing: 0.06em;
  color: #545454;
}

p {
  font-family: Arial;
  font-style: normal;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 160%;
  color: #4C4C4C;
}

html {
  font-size: 10px;
  scroll-behavior: smooth;
}

body {
  font-family: Arial;
  font-style: normal;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 160%;
  background: url(../../assets/icons/noise_transparent@2x.png), -webkit-gradient(linear, left top, right top, from(#5b483a), to(#262425)), #211F20;
  background: url(../../assets/icons/noise_transparent@2x.png), -webkit-linear-gradient(left, #5b483a 0%, #262425 100%), #211F20;
  background: url(../../assets/icons/noise_transparent@2x.png), -o-linear-gradient(left, #5b483a 0%, #262425 100%), #211F20;
  background: url(../../assets/icons/noise_transparent@2x.png), linear-gradient(to right, #5b483a 0%, #262425 100%), #211F20;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100%;
}

.main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

[class*="__container"] {
  max-width: 1280px;
  padding: 0 40px;
  margin: 0 auto;
}

.header {
  margin: 60px 0px;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 auto;
}

.header__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  min-width: 186px;
  gap: 10px;
}

.header__logo-burger {
  position: fixed;
  top: 30px;
  right: -100%;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.header__logo-burger.active {
  z-index: 5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  right: 125px;
  visibility: visible;
  opacity: 1;
}

.title {
  font-family: Georgia;
  font-style: normal;
  font-size: 3.2rem;
  line-height: 110%;
  letter-spacing: 0.06em;
  color: #F1CDB3;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.subtitle {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  font-size: 1.3rem;
  line-height: 15px;
  letter-spacing: 0.1em;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  color: #FFFFFF;
}

.menu__icon {
  display: none;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.menu__item {
  margin: 0px 0px 0px 36px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.menu__item .menu__link {
  color: #CDCDCD;
  border-bottom: 3px solid transparent;
}

.menu__item .menu__link_active {
  color: #FAFAFA;
  border-bottom: 3px solid #F1CDB3;
}

.menu__item .menu__link:hover {
  color: #FAFAFA;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.menu__item:nth-last-child(-n+2) {
  pointer-events: none;
}

.not-only__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  gap: 0 42px;
}

.not-only__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 42px 0;
}

.not-only__content .subheading {
  color: #CDCDCD;
}

.heading {
  color: #FFFFFF;
  padding-right: 30%;
  padding-top: 163px;
}

.start-button {
  background: #F1CDB3;
  width: 207px;
  height: 52px;
}

.button:hover {
  background: #FDDCC4;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.button {
  font-family: Georgia;
  font-style: normal;
  font-size: 1.7rem;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: #292929;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 100px;
}

.section {
  padding: 80px 0 100px 0;
  background-color: #FFFFFF;
}

.about__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0 10%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.about__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 25px 0;
  max-width: 430px;
}

.our-friends {
  background-color: #F6F6F6;
}

.our-friends__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 60px 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.our-friends__text-heading {
  text-align: center;
}

.slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 0 53px;
}

.slider__cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0 90px;
}

.control_prev {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}

.slider__control {
  width: 52px;
  height: 52px;
  padding: 21px 17px;
  border: 2px solid #F1CDB3;
  border-radius: 100px;
}

.slider__control:hover {
  background: #FDDCC4;
  border: 2px solid transparent;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 30px 0px;
  background: #FAFAFA;
  border-radius: 9px;
  width: 270px;
  height: 435px;
}

.card:hover {
  background: #FFFFFF;
  -webkit-box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
          box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
  cursor: url("../../assets/icons/icon.svg"), pointer;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.card:hover > button {
  background: #FDDCC4;
  border: 2px solid transparent;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.card__subheading {
  line-height: 21px;
}

.card__button {
  border: 2px solid #F1CDB3;
  display: inline-block;
  margin-bottom: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 188px;
  height: 52px;
}

.button_our-frends {
  background: #F1CDB3;
  width: 261px;
  height: 52px;
}

.help__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 60px 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.help__text-header {
  text-align: center;
}

.list {
  margin: 0 87px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 55px 119px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.list__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 29px 0;
}

.donation {
  background: #F6F6F6;
}

.donation__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 0 30px;
}

.donation__content-content {
  max-width: 380px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px 0;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.credit-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #F1CDB3;
  gap: 0 15px;
  border-radius: 9px;
  width: 350px;
  height: 43px;
}

.credit-card:hover {
  background: #FDDCC4;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.donation-description {
  font-family: Arial;
  font-style: italic;
  font-weight: 400;
  font-size: 1.2rem;
  line-height: 18px;
  color: #B2B2B2;
}

.footer__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0 160px;
  padding-top: 40px;
}

.footer__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 39px 0;
  padding-top: 16px;
}

.contacts {
  max-width: 279px;
}

.locations {
  max-width: 302px;
  gap: 33px 0;
}

.footer__title {
  color: #FFFFFF;
}

.footer__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__text {
  color: #F1CDB3;
}

@media screen and (max-width: 1279px) {
  [class*="__container"] {
    max-width: 1279px;
    padding: 0 30px;
    margin: 0 auto;
  }
  .header {
    margin-top: 30px;
  }
  .not-only__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    gap: 100px 0;
  }
  .not-only__content {
    max-width: 65%;
  }
  .heading {
    padding-top: 0;
    -ms-flex-item-align: start;
        align-self: flex-start;
  }
  .start-button {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  .not-only__img {
    -ms-flex-item-align: end;
        align-self: flex-end;
    max-width: calc(100% - 139px);
  }
  .not-only__img img {
    width: 100%;
  }
  .about__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    max-width: 64%;
    gap: 80px 0;
  }
  .about__content {
    gap: 24px 0;
  }
  .slider {
    gap: 0 12px;
  }
  .slider__cards {
    gap: 0 40px;
  }
  .card:last-child {
    display: none;
  }
  .list {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (33.3%)[3];
        grid-template-columns: repeat(3, 33.3%);
    -ms-grid-rows: (113px)[3];
        grid-template-rows: repeat(3, 113px);
    gap: 55px 60px;
    margin: 0 10%;
    width: 72%;
  }
  .donation__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    gap: 60px 0;
  }
  .donation__content-content {
    max-width: 54%;
    gap: 19px;
  }
  .footer__content {
    max-width: 708px;
    margin: 0 auto;
    gap: 65px 59px;
    padding: 14px 34px 0 34px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media screen and (max-width: 767px) {
  [class*="__container"] {
    max-width: 767px;
    padding: 0 10px;
    margin: 0 auto;
  }
  .header {
    position: relative;
  }
  .menu__icon {
    z-index: 5;
    display: block;
    position: absolute;
    top: 20px;
    right: 53px;
    cursor: url("../../assets/icons/icon.svg"), pointer;
    -webkit-transition: -webkit-transform 0.3s ease 0s;
    transition: -webkit-transform 0.3s ease 0s;
    -o-transition: transform 0.3s ease 0s;
    transition: transform 0.3s ease 0s;
    transition: transform 0.3s ease 0s, -webkit-transform 0.3s ease 0s;
  }
  .menu__icon.active {
    -webkit-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
            transform: rotate(90deg);
  }
  /* .menu__icon{
		z-index: 5;
		display: block;
		position: relative;
		width: 30px;
		height: 22px;
		cursor:url("../../assets/icons/icon.svg"), pointer;
		& span, &::before, &::after{
			left:0;
			position: absolute;
			height: 10%;
			width: 100%;
			transition: all 0.3s ease 0s;
			background-color: $color-primary;
		}
		&::before, &::after{
			content: "";
		}
		&::before{
			top:0;
		}
		&::after{
			bottom: 0;
		}
		& span{
			top:50%;
			transform: scale(1) translate(0px, -50%);
		}
	} */
  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 3;
    width: 100%;
    height: 100%;
    background-color: rgba(41, 41, 41, 0.6);
    visibility: hidden;
    opacity: 0;
    -webkit-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    transition: all 0.3s linear;
    overflow: auto;
  }
  .overlay.active {
    visibility: visible;
    opacity: 1;
  }
  body.lock {
    overflow: hidden;
  }
  .menu__list {
    z-index: 4;
    display: block;
    position: fixed;
    top: 0;
    right: -100%;
    width: 320px;
    height: 100%;
    background-color: #292929;
    padding: 158px 38px;
    -webkit-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    transition: all 0.3s linear;
  }
  .menu__list.active {
    right: 0;
  }
  .menu__item {
    margin: 0px;
    margin-bottom: 43px;
  }
  .menu__link {
    font-size: 3.2rem;
    line-height: 160%;
    margin: 0 auto;
  }
  .section {
    padding: 42px 0 42px 0;
  }
  .not-only__content {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    min-width: 100%;
  }
  .heading {
    font-size: 2.5rem;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    padding-right: 0;
    letter-spacing: 0.06em;
  }
  .not-only__img {
    padding-top: 5px;
    max-width: calc(100% - 40px);
  }
  .about__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    max-width: calc(100%-20px);
    gap: 42px 0;
  }
  .about__content {
    gap: 22px 0;
  }
  .about__content p {
    text-align: justify;
    padding: 0 15px;
  }
  .about__text-heading {
    margin-bottom: 2px;
  }
  h3 {
    font-size: 2.5rem;
    text-align: center;
  }
  .about__img {
    max-width: calc(100% - 40px);
  }
  .about__img img {
    width: 100%;
  }
  .our-friends__container {
    gap: 41px 0;
  }
  .slider {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 20px 80px;
  }
  .slider__cards {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
  }
  .card:nth-last-child(-n+2) {
    display: none;
  }
  .help__container {
    gap: 41px 0;
  }
  .list {
    -ms-grid-columns: (130px)[2];
        grid-template-columns: repeat(2, 130px);
    -ms-grid-rows: (87px)[5];
        grid-template-rows: repeat(5, 87px);
    gap: 30px;
  }
  .list img {
    width: 50px;
  }
  .list__item {
    gap: 20px 0;
  }
  .list__item h4 {
    font-size: 1.5rem;
  }
  .donation__header {
    margin-bottom: 0;
  }
  .donation__content {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 41px 0;
  }
  .donation__content-content {
    max-width: 300px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .donation__content-content h5 {
    letter-spacing: 0;
    line-height: 160%;
  }
  .donation__content-content p {
    text-align: justify;
    padding: 2px 10px;
  }
  .credit-card {
    width: 281px;
    height: 43px;
  }
  .credit-card h4 {
    font-size: 1.5rem;
  }
  .donation__content-img {
    max-width: calc(100% - 40px);
  }
  .donation__content-img img {
    width: 100%;
  }
  .footer__content {
    max-width: 300px;
    margin: 0 auto;
    gap: 40px 59px;
    padding: 30px 0px 0px 0px;
  }
  .footer__info {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-top: 0;
    gap: 40px 0;
  }
  .locations {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    gap: 39px;
  }
  .footer__title {
    max-width: 270px;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  .footer__img {
    width: 260px;
  }
}
