$color-lime:#A5C926;
$color-orange: #ee8e4e;
$color-terracotta:rgb(235, 84, 25);
$color-bg:#F8F8F8;
$color-sky: rgb(198, 240, 250);
$font-white: #FFFFFF;
$font-black: #000000;
$box-shadow:0px 2px 35px 14px rgba(13, 13, 13, 0.1);
$box-shadow2:0px 5px 10px 2px rgba(34, 60, 80, 0.32);